/* root */
:root{
    --main-color: #0C1B33;
    --font-color1: #EEF0F2;
    --font-color2: #ADBBC5;
    --font-color3: #597DB3;
    --font-color4: #839CBC;
    --blue1: #214175;
    --blue2: #193157;
    --blue3: #0F1B2E;
    --blue4: #0A1019;
    
}
::-webkit-scrollbar {
    width: 0px;
}
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    
}
body{
    background-color: #0C1B33;
    display: flex;
    justify-content: center;
    width: 100%;
}
/* 404 Page */
.Page404-container{
    position: relative;
    width: 100vh;
    height: 100vh;
}
.Page-404{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    text-align: center;
    background-color: rgba(10, 16, 25, 0.95);
    padding: 15px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 10px #193157;
}
.Page-404 h1{
    font-size: 8rem;
    color: darkblue;
}
.Page-404 h4{
    font-size: 1.2rem;
}

/* START */
#svg-container, .admin-page {
    transition: opacity 1s ease-in-out;
}
#svg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
#svg-container img {
    height: 80vh;
    user-select: none;
    animation: scaleAnimation 3s infinite alternate;
    color: transparent;
    background-color: transparent;
}
@keyframes scaleAnimation {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(.9);
    }
}
.admin-page {
    display: none;
    transition: opacity 1s ease;
}
.show-admin-page{
    display: flex;
    width: 100vw;
}
#greet{
    font-size: 3rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#svg-container-hidden{
    display: none;
}
/* SIDEBAR */
.sidebar-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    color: var(--font-color3);
    padding: 0px 10px 30px 10px;
    width: 300px;
    height: 100vh;
    box-shadow: 0px 0px 10px 2px var(--blue4);
    border: var(--blue4) 1px solid;
    transition: all 0.5s ease-in-out;
}
.weblogo-container {
    display: flex;
    align-items: center;
    height: 63px;   
    padding: 10px 15px;
    pointer-events: none;
}
.weblogo-container img {
    width: 60px;
    height: 50px;
    margin-right: 10px;
}
.weblogo-container h1 {
    width: 90%;
    color: #E0E0E0;
    font-size: 1.5rem;
    user-select: none;
    transition: all 0.5s ease-in-out;
}
.side-navlink-container hr {
    border: 1px solid var(--blue2);
    width: 100%;
}
.sidebar-navlink-container hr{
    border: 1px solid var(--blue2);
    width: 100%;
}
.side-navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}
.side-navlink-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.side-navlink,
.side-navlinks{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    cursor: pointer;
    width: 100%;
}
.side-navlink:hover,
.side-navlinks:hover{
    background-color: #555;
    border-radius: 20px;
}
.side-navlink img {
    width: 20px;
    margin-right: 8px;
}
.side-navlinks img {
    width: 20px;
    margin-right: 8px;
}
.sidebar-label {
    background-color: transparent;
    overflow: hidden;
    display: block;
    opacity: 1; 
    transition: opacity 0.5s ease-in-out; 
    animation: fadeIn 1s ease-in-out;
    font-size: 1rem;
}
.sidebar-label.hide {
    display: none;
    opacity: 0;
    overflow: hidden;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.side-navlink h3, 
.dashboard h3{
    overflow: hidden;
}
.side-navlink img, 
.side-navlinks img, 
.side-navlink h3, 
.dashboard h3{
    background-color: transparent;
    color: var(--font-color1);
}
.sidebar-navlink-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#open {
    display: none;
}
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    left: 110px;
    z-index: 100;
    white-space: nowrap; /* Ensure that text does not wrap to the next line */
}

/* MAIN || Content */
.content{
    display: grid;
    grid:
    "header" auto
    "section" 1fr
    "." auto
    / 1fr;
    gap: 8px;

    width: 100%;
}
.header{
    height: 75px;
    background-color: var(--blue3);
    border-bottom: var(--blue2) 2px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    position: sticky;
    top: 0;
}
.admin-name{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
}
.admin-name img{
    user-select: none;
    width: 30px;
    margin-right: 10px;
}
.admin-name h1{
    user-select: none;
    margin-right: 20px;
}
.admin-name h1:nth-child(3){
    user-select: none;
    cursor: pointer;
}

/* //Sections */
.content section{
    display: flex;
    flex-direction: column;
    padding: 5px 60px;
}

/* ===== myStudents ===== */
.myStudents{
    
}
.listOfSection-container{
    background-color: #0F1B2E;
    padding: 15px 25px;
    border-radius: 20px;
}
.listOfSection-container h1{
    padding: 5px 20px;
    color: #8D8E8E;
    font-size: 1.3rem;
    text-emphasis: 100;
}
.listOfSection{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    gap: 10px;
    background-color: #142643;
    border-radius: 30px;
}
.section-container{
    cursor: pointer;
    border-inline: 1px solid var(--blue1);
    padding-inline: 15px;
}
.section-container h2{
    font-size: 1.2rem;
    text-emphasis: none;
    letter-spacing: 0.1rem;
    color: #767B91;
}
.section-container:hover{
    border-bottom: 2px solid #8D8E8E;
}
.section-container h2:hover{
    color: var(--font-color2);
}
